*{
    margin: 0px;
    padding: 0px;

}

.container{
    background-image: linear-gradient(to top left, rgb(9, 131, 254),rgb(207, 58, 145));
    display: flex;
    flex-direction: column;
}

.topo{
    display: block;
    background-color: aquamarine;
}
.centro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    right: 30%;
    
}

.image img{
height: 400px;
width: auto;
background-color: aqua;
}

.video img{
    position: absolute;
    top: 15px;
    height: 300px;
    width: 400px;
    border: 8px ridge #ffffff;
    border-radius: 15px;
    box-shadow: 20px 4px 20px 10px #2648ed;
}

.audio{
    position: absolute;
    bottom: 10px;
}

.footer{

}

.linha{

}

.social{
    display: flex;
    height: 100px;
}

.social .item {
   flex: 1;
}